html,body
		{
				height:100%;
				background-color: #eee;
		}

#logo
		{		
				padding: 5px 10px;		
		}
			
		
.selectionForm
		{
				position: relative;
				float:left;
				width:60%;
				padding:5px;
				-moz-box-shadow: 0 0 5px #888;
 				-webkit-box-shadow: 0 0 5px #888;
 				box-shadow: 0 0 5px #888;			
		}
									
.profileForm
		{
				position: relative;
				float:left;
				width:18%;min-height:300px;
				margin:5px 10px;
				background:#fff
		}
		
.profileEditBtn
		{
				position: absolute;
				bottom:0;
		}
.btnLink
		{
			
				width:15%;
				margin:1%;
				float:left;
	
		}

.btnLink2 
		{
				float:right;
			    display:block;
			    width:50px;
			    height:50px;
			    line-height:50px;
			    border: 2px solid #f5f5f5;
			    border-radius: 50%;
			    color:#eee;
			    background:#eee;			    
			    box-shadow: 0 0 3px gray;
		}
		
.btnLink2:hover 
		{
			    background: #d9534f;
		}
	
.hr
		{
				height:3px;
				border-width:0;
				color:#00FFFF;
				background-color:#00FFFF;
				width: 100%;	
		}
		
.col-md-3
		{
				padding-bottom:5px;
		}

.container
		{
				min-height:100%;
			    max-width:85%; 
			  	-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);  
			  	-moz-box-shadow:    0px 0px 2px 2px rgba(0, 0, 0, 0.25);  
			  	box-shadow:         0px 0px 2px 2px rgba(0, 0, 0, 0.25);    
			    padding: 175px 25px 40px 25px;  
			    margin-bottom: 0;
			    background-color: rgba(255, 255, 255, 0.7);
  		}  
  		
.container-fluid
		{  
				-webkit-box-shadow: 0 7px 6px -4px rgba(0, 0, 0, 0.25);
     			-moz-box-shadow: 0 7px 6px -4px rgba(0, 0, 0, 0.25);
          		box-shadow: 0 7px 6px -4px rgba(0, 0, 0, 0.25);
        }
        
.panel
		{
				border:none;
		}

#header
		{
			    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
			    background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
			    background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
			    background-image: linear-gradient(to bottom right, #ffffff, #dddddd);
				background-repeat:no-repeat !important;
				-webkit-background-size:cover !important;
				-moz-background-size:cover !important;
				-o-background-size:cover !important;
				background-size:cover !important;
		}
