body
		{
				padding-top:195px;
		}

#logo
		{		
				padding: 5px 10px;		
		}
			
.profileForm
		{
				float:left;
				width:205px;height:300px;
				margin:5px 10px;
		}
		
.profileEditBtn
		{
		
		}
