body
		{
				padding-top:15%;
		}

#logo
		{		
				padding: 5px 10px;		
		}
			
.panels
		{
				-moz-box-shadow: 0 0 5px #888;
 				-webkit-box-shadow: 0 0 5px#888;
 				box-shadow: 0 0 5px #888;			
		}	
		
.selectionForm
		{
				position: relative;
				float:left;
				width:60%;
				padding:5px;
				-moz-box-shadow: 0 0 5px #888;
 				-webkit-box-shadow: 0 0 5px#888;
 				box-shadow: 0 0 5px #888;			
		}
									
.profileForm
		{
				position: relative;
				float:left;
				width:18%;min-height:300px;
				margin:5px 10px;
				-moz-box-shadow: 0 0 5px #888;
 				-webkit-box-shadow: 0 0 5px#888;
 				box-shadow: 0 0 5px #888;
		}
		
.profileEditBtn
		{
				position: absolute;
				bottom:0;
		}
.btnLink
		{
			
				width:20%;
				float:right;
				-moz-box-shadow: 0 0 5px #888;
 				-webkit-box-shadow: 0 0 5px#888;
 				box-shadow: 0 0 5px #888;	
		}

#datepicker {
  text-align: left;
  background-image: url("images/calendar.png");
  background-position: right center;
  background-repeat: no-repeat;
}